@media (max-width: 952px) {
	.sidebar {
        display: none;
    }

    .corpo {
        width: 100%;
        justify-content: center; /* centraliza Stories e feed de publicação no meio da página */
    }

    .topo-conteudo {
        margin: 0 20px;
        width: 100%;
    }

}