@media (max-width: 630px) {
	.desaparecer-mobile {
        display: none;
    }

    .aparecer-mobile /*logotipo do Instagram que agora deve estar centralizado*/{
        display: inline;
    }

    .corpo {
        margin-top: 55px;
    }

    .conteudo-principal {
        max-width: 100%;
    }

    .foto-publicacao {
        max-width:100%;
        height: auto;
    }

    .stories {
        background-color: #FAFAFA;
        width: 100%;
        border: none;
        margin-bottom: 7px;
    }

    .stories-ver-mais + .story {
        margin-left: 0px;
    }

    .barra-navegacao-mobile {
        background-color: #FFFFFF;
        position: fixed;
        bottom: 0;
        height: 54px;
        width: 100%;
        padding: 0 18px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}